@model IEnumerable<Web.Models.Comment>
@{
    ViewBag.Title = "Mobile Isomorphic JavaScript with ReactJS.NET";
}
<div class="row">
    <div class="col-lg-6">
        <p>
            <ul>
                <li><strong>Adaptive Rendering:</strong> specialized templates for mobile and desktop devices.</li>
                <li><strong>Responsive Web Design:</strong> optimized viewing experience across a wide range of devices.</li>
                <li><strong>Progressive Enhancement:</strong> by rendering the app server-side then using JS for updates.</li>
                <li><strong>Optimized for Mobile:</strong> by minimizing the work that needs to be done by the browser.</li>
            </ul>
        </p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="https://github.com/daniellmb/React-PE" role="button">Get the Code</a>
        </p>
    </div>

    <div class="col-lg-6">
        @Html.Partial("Components/_CommentPanel")
    </div>
</div>