@model IEnumerable<Web.Models.Comment>
@{
    ViewBag.Title = "Mobile Progressive Enhancement with ReactJS.NET";
}

<div class="jumbotron">
    <p>
        <ul>
            <li><strong>Adaptive Rendering:</strong> specialized templates for mobile and desktop devices.</li>
            <li><strong>Responsive Web Design:</strong> optimized viewing experience across a wide range of devices.</li>
            <li><strong>Progressive Enhancement:</strong> by rendering the app server-side then using JS for updates.</li>
            <li><strong>Optimized for Mobile:</strong> by minimizing the work that needs to be done by the browser.</li>
        </ul>
    </p>
    <p class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Get the Code</a>
    </p>
</div>
@Html.Partial("Components/_CommentPanel")